@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body
{
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  
}
 .centerContainer
        {
          width:auto;
          height:auto;
          position:fixed;
          top:20%;
          left:40%;
          margin-top:auto;
          border:5px groove ghostwhite ;
          border-radius:20px;
          padding: 30px 50px 30px 50px;  
          background:ghostwhite;
        } 
        
.divcontainer{
    display: flex;
    background-color:#ffffff;
   
}
.divcontainer>div{
    flex:1;
    text-align: center;
    align-self:center;
    padding:10px 0 10px 0;
}
.header{
    top:0;
}

  .search{
  width:30%;
  vertical-align:middle;
  padding-top:10px;
   float:middle;
  }
 
  .container #search
  {
      width:auto;
      height:auto;
      float:center;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      border:thin-solid #dcdcdc;
  }
  
 
  .container.search{
      position: relative;
      float: center;
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
      color: #f0f0f0;
  }
  
  .container1{
      position: relative;
      border:thin-solid;
      width:45%;
      height: auto;
      background-color: #f0f0f0;
       border:2px ridge ghostwhite ;
       border-radius: 10px;
      float: center;
      margin-left: auto;
      margin-right:auto;
      padding-top: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      }
  

  .image_round{
      border-radius: 50%;
      width:40px;
      height:40px;
      margin-left:20px;
  }
 
 .fontcolor{
     font-family:'Pacifico',cursive;
     color: #000000;
 } 
 
.submitbutton{
     font-family:'Pacifico',cursive;
     
 } 	



  
  